@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Share+Tech+Mono&family=Space+Mono&display=swap');

@layer base {
    body {
        @apply font-[Share-Tech-Mono];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    ) !important;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

h2 {
    font-family: 'Share Tech Mono', monospace;
}

p {
    font-family: 'Space Mono', monospace;
}

a {
    font-family: 'Share Tech Mono', monospace;
}
